<template name="proposalItem">
  <div class="post">
    <a href="#" class="upvote btn {{upvotedClass}}">⬆</a>
    <div class="post-content">
      <h3><a href="{{url}}">{{title}}</a><span>{{body}}</span><span>{{status}}</span><span>{{type}}</span></h3>
      <p>
        {{pluralize votes "Vote"}},
        support: {{support.count}}, votes: {{votes.pro}},{{votes.against}}, age: {{age}}
        submitted by {{author}},
        <a href="{{pathFor 'proposalPage'}}">{{pluralize commentsCount "comment"}}</a>
        {{#if ownPost}}<a href="{{pathFor 'proposalEdit'}}">Edit</a>{{/if}}
      </p>
    </div>
    <a href="{{pathFor 'proposalPage'}}" class="discuss btn">Discuss</a>
  </div>
</template>